extends layout 

block content
  main(class="grid grid-cols-1 lg:grid-cols-[auto_1fr] sm:pr-[-6rem] sm:min-h-[600px]")
    include ./category_sidebar
    section(class="flex flex-col gap-4 p-4")
      div(class="flex justify-between")
        h1(class="col-[1/-1] text-xl font-bold lg:justify-self-start") #{title}
        div.flex.gap-2.items-center
          button(class="modalButton buttonCreate w-[20px] h-[20px] bg-[url('/images/png/add-icon.png')] bg-cover")
          button(class="modalButton buttonUpdate w-[20px] h-[20px] bg-[url('/images/png/edit-icon.png')] bg-cover")
          if category_items.length === 0
            button(class="modalButton buttonDelete w-[20px] h-[20px] bg-[url('/images/png/delete-icon.png')] bg-cover")
      div(class="grid grid-cols-list_mini md:grid-cols-list justify-items-center gap-4")
        each item in category_items
          a(href=item.url class="min-w-[130px] min-h-[300px] w-[130px] lg:min-w-[225px] lg:w-[225px] grid grid-rows-[auto_1fr_auto_auto] gap-y-1")
            if item.stock === undefined || item.stock === 0
              span.flex.gap-2
                img(src="/images/svg/check-avail.svg")
                small(class="text-[#C94D3F]") check availability
            else  
              span.flex.gap-2
                img(src="/images/svg/in-stock.svg")
                small(class="text-[#C94D3F]") in stock
            img(src=item.src_url class="self-center")
            p= item.name
            p.font-bold #{typeof item.price !== "number" ||  item.price === 0 ? "TBA" : `$${item.price.toFixed(2)}`}
        if category_items.length === 0
          p(class="col-[1/-1] justify-self-start") There are no items in this category.

  include ./item_modal_form
  include ./category_modal_form
  include ./modal_delete
